<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Under Maintenance
        </title>
    </head>
    <body>
        <h1>Under maintenance</h1>
        <p>The server is under maintenance, please come back later.</p>
        {{> footer}}

    </body>
</html>